<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript -->
    <!-- <script src="{{ url_for('static', filename='/js/script.js') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <title>Notificaciones</title>
</head>
<body>
    <h1>Probando notificaciones push</h1>
    <form action="{{url_for('logina')}}">
        <input type="submit" value="notificacion">
    </form>
</body>
</html>